################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/高性能计算中心
/深入理解计算机系统（第三版文字版）.pdf
/OpenNI
/OpenCV
/Essential C++ 中文版_13346755.pdf
/C程序设计语言-习题解答.pdf
/C++_Primer
